body, html {
    height: 100%;
}

.coverPage{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-weight: bold;
}

.projects{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 500px; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

img {
    height: 400px;
    width: 100%;
}

.btn{
    display: inline-flex;
    background-color: #b8a9c9;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}


/* The Modal (background) */
.modal {
    background-color: #e0876a;
    background-color: #fff2df;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content {
    background-color: white;
    border: 2px solid #4B0082;
    margin: auto;
    padding: 20px;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #DAA520;
    cursor: pointer;
    text-decoration: none;
}

.button{
   display: inline-flex;
    background-color: #b5e7a0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}